<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <context-param>
        <param-name>driver-name</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>connection-url</param-name>
        <param-value>jdbc:mysql://localhost:3306/booksdata</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>root</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>


    <servlet>
        <servlet-name>SaveUser</servlet-name>
        <servlet-class>SaveUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyUser</servlet-name>
        <servlet-class>VerifyUser</servlet-class>
        <init-param>
            <param-name>admin-id</param-name>
            <param-value>admin</param-value>
        </init-param>
        <init-param>
            <param-name>admin-password</param-name>
            <param-value>ssi</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>SaveBook</servlet-name>
        <servlet-class>SaveBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectServlet</servlet-name>
        <servlet-class>SubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TitleServlet</servlet-name>
        <servlet-class>TitleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailServlet</servlet-name>
        <servlet-class>DetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KillSession</servlet-name>
        <servlet-class>KillSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartManager</servlet-name>
        <servlet-class>CartManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayCart</servlet-name>
        <servlet-class>DisplayCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveBook</servlet-name>
        <servlet-class>RemoveBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveAll</servlet-name>
        <servlet-class>RemoveAll</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveUser</servlet-name>
        <url-pattern>/SaveUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyUser</servlet-name>
        <url-pattern>/VerifyUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveBook</servlet-name>
        <url-pattern>/SaveBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectServlet</servlet-name>
        <url-pattern>/SubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TitleServlet</servlet-name>
        <url-pattern>/TitleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailServlet</servlet-name>
        <url-pattern>/DetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KillSession</servlet-name>
        <url-pattern>/KillSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartManager</servlet-name>
        <url-pattern>/CartManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayCart</servlet-name>
        <url-pattern>/DisplayCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveBook</servlet-name>
        <url-pattern>/RemoveBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveAll</servlet-name>
        <url-pattern>/RemoveAll</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            2
        </session-timeout>
    </session-config>
</web-app>
